* { margin: 0; padding: 0; }

body { background: #FDFEEC; color: #051524; font: 14px/1.5 verdana, arial, helvetica, sans-serif; }

#menu-container { border-bottom: 1px solid #848B9A; padding: 5px 10px 5px 23px; background: #F0F3FA; overflow: auto; }
#menu-container a { display: block; float: left; font: bold 18px georgia, arial, sans-serif; color: #fff; text-decoration: none; margin-left: 10px; padding: 5px 10px 5px 10px; background: #4167b3; }
#menu-container a:hover { background: #6989C9; }

#content-container { padding: 20px; }
#content-container fieldset { border: 1px solid #848B9A; margin: 10px 0; padding: 5px 10px; background: #F0F3FA; }
#content-container input, #content-container select { padding: 2px 6px; }
#content-container label { font-weight: bold; display: block; float: left; color: #16223C; background: #D2DCEF; padding: 6px 6px; margin-right: 10px; margin-left: 2px; }

#content-container table { width: 100%; }
#content-container table tr:nth-child(odd) { background: #E1E8F4; }
#content-container table th { background: #D2DCEF; }
	#content-container table th.t-weight { width: 14%; }
	#content-container table th.t-food { width: 28%; }
	#content-container table th.t-nutrient { width: 10%; }
	#content-container table th.t-energy { width: 14%; }
	#content-container table th.t-remove { width: 14%; }

	#content-container table td.t-weight { text-align: center; }
		#content-container table td.t-weight input { width: 80%; }
	#content-container table td.t-food { text-align: left; text-indent: 15px; }
	#content-container table td.t-nutrient { text-align: right; padding-right: 10px; }
	#content-container table td.t-energy { text-align: right; padding-right: 10px; }
	#content-container table td.t-remove { text-align: center; }
		#content-container table td.t-remove input { }

#content-container input.button {  cursor: pointer; padding: 4px 20px; font-weight: bold; color: #222; }

dl { border: 1px solid #848B9A; background: #F0F3FA; overflow: auto; }
dl dt { padding-left: 10px; font-weight: bold; font-size: 16px; border-bottom: 1px solid #848B9A; background: #D2DCEF ;}
dl dd { padding: 10px; }

dl dl { border: none; }
dl dl dt { float: left; font-weight: bold; font-size: 14px; padding-left: 5px; border: none; background: #D2DCEF }
dl dl dd { float: left; font-size: 14px; padding-left: 10px; padding-right: 5px; padding-top: 0; padding-bottom: 0;  margin-right: 15px; background: #D2DCEF; }
