<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Beräkna näringsvärden</title>
		<link rel="stylesheet" href="css/core.css" type="text/css" />
		<script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>

		<script type="text/template" id="menu-template">
			<a href="#menu-calculator" id="menu-calculator">Calculator</a>
			<% if ( loggedOut ) { %>
				<a href="#menu-login" id="menu-login">Login</a> <a href="#menu-register" id="menu-register">Register</a>
			<% } else { %>
				<a href="#menu-logout" id="menu-logout">Logout</a>
			<% } %>
		</script>
		<script type="text/template" id="login-template">
			<form>
				<fieldset>
					<label>Användarnamn: <input type="text" name="login-name" id="login-name" /></label>
					<label>Lösenord: <input type="password" name="login-pw" id="login-pw" /></label>
					<input type="submit" name="login" id="login" value="Logga in" />
				</fieldset>
			</form>
		</script>
		<script type="text/template" id="registration-template">
			<form>
				<fieldset>
					<label>Användarnamn: <input type="text" name="registration-name" id="registration-name" /></label>
					<label>Lösenord: <input type="password" name="registration-pw" id="registration-pw" /></label>
					<label>Repetera lösenord: <input type="password" name="registration-pwrepeat" id="registration-pwrepeat" /></label>
					<input type="submit" name="register" id="register" value="Skapa konto" />
				</fieldset>
			</form>

			<% _.each( users, function( user ) { %>
				<li><%=user.attributes.username%></li>
			<%} ); %>
		</script>
		<script type="text/template" id="calculator-template">
			<% if ( loggedOut ) { %>
				<p>You must be registered and logged in to use the calculator.</p>
			<% } %>
		</script>
		<script type="text/template" id="food-template">
			<form>
				<fieldset>
					<label>Livsmedel: <input type="text" name="create-food-name" id="create-food-name" /></label>
				    <label>Protein: <input type="text" name="create-food-protein" id="create-food-protein" /></label>
				    <label>Kolhydrater: <input type="text" name="create-food-carbohydrates" id="create-food-carbohydrates" /></label>
				    <label>Fett: <input type="text" name="create-food-fat" id="create-food-fat" /></label>
					<input type="submit" name="create-food" id="create-food" value="Spara livsmedel" />
				</fieldset>
			</form>
			<form>
				<fieldset>
					<label>Livsmedel: <select name="use-food-id" id="use-food-id">
						<% _.each( foods, function( food ) { %>
						<option value="<%=food.id%>"><%=food.attributes.foodname%></option>
						<% } ); %>
					</select></label>
					<input type="submit" name="use-food" id="use-food" value="Använd" />
					<input type="button" name="use-food-delete" id="use-food-delete" value="Kasta" />
				</fieldset>
			</form>
		</script>
		<script type="text/template" id="calculator-items-template">
			<form>
				<fieldset>
					<table>
						<tr>
							<th>Vikt</th>
							<th>Livsmedel</th>
							<th>Protein (g)</th>
							<th>Kolhydrater (g)</th>
							<th>Fett (g)</th>
							<th>Energi (kcal)</th>
							<th>Ta bort</th>
						</tr>
						<% _.each( calculatorItems, function( calculatorItem ) {
								var attr = calculatorItem.attributes.food.attributes;
						%>
							<tr>
								<td><input type="text" name="calculator-item-0-weight" id="calculator-item-0-weight" value="<%= calculatorItem.attributes.weight %>" /></td>
								<td><%= attr.foodname %></td>
								<td><%= calc.nutrientWeight( calculatorItem.attributes.weight, attr.protein ) %></td>
								<td><%= calc.nutrientWeight( calculatorItem.attributes.weight, attr.carbohydrates ) %></td>
								<td><%= calc.nutrientWeight( calculatorItem.attributes.weight, attr.fat ) %></td>
								<td><%= calc.energy( calculatorItem.attributes.weight, attr.protein, attr.carbohydrates, attr.fat ) %></td>
								<td><input type="checkbox" name="calculator-item-0-remove" id="calculator-item-0-remove" value="remove" /></td>
							</tr>
						<% } ); %>
					</table>
					<input type="submit" name="calculator-update" id="calculator-update" value="Genomför ändringar" />
				</fieldset>
			</form>
			<dl>
				<dt>Totalt</dt>
				<dd>
					<dl>
						<dt>Protein</dt>
						<dd><%=totals.protein%></dd>
						<dt>Kolhydrater</dt>
						<dd><%=totals.carbohydrates%> g</dd>
						<dt>Fett</dt>
						<dd><%=totals.fat%> g</dd>
						<dt>Energi</dt>
						<dd><%=totals.energy%> kcal</dd>
					</dl>
				</dd>
			</dl>
		</script>
	</head>
	<body>
		<div id="menu-container"></div>
		<div id="content-container"></div>
	</body>
</html>
