<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Beräkna näringsvärden</title>
		<link rel="stylesheet" href="css/core.css" type="text/css" />
		<script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>
		<script type="text/template" id="registration-template">
			<form>
				<fieldset>
					<label for="registration-name">Användarnamn</label>
					<input type="text" name="registration-name" id="registration-name" />
					<label for="registration-pw">Lösenord</label>
					<input type="password" name="registration-pw" id="registration-pw" />
					<label for="registration-pwrepeat">Repetera lösenord</label>
					<input type="password" name="registration-pwrepeat" id="registration-pwrepeat" />
					<input type="submit" name="register" id="register" value="Skapa konto" />
				</fieldset>
			</form>

			<ul>
			<% _.each( users, function( users ) { %>
				<li><%= users.attributes.username %></li>
			<% } ); %>
			</ul>
		</script>
		<script type="text/template" id="login-template">
			<form>
				<fieldset>
					<label for="login-name">Användarnamn</label>
					<input type="text" name="login-name" id="login-name" />
					<label for="login-pw">Lösenord</label>
					<input type="password" name="login-pw" id="login-pw" />
					<input type="submit" name="login" id="login" value="Logga in" />
				</fieldset>
			</form>
		</script>
		<script type="text/template" id="create-food-template">
			<form>
				<fieldset>
					<label for="create-food-name">Livsmedel</label>
				    <input type="text" name="create-food-name" id="create-food-name" />
				    <label for="create-food-protein">Protein / 100g</label>
				    <input type="text" name="create-food-protein" id="create-food-protein" />
				    <label for="create-food-carbohydrates">Kolhydrater / 100g</label>
				    <input type="text" name="create-food-carbohydrates" id="create-food-carbohydrates" />
				    <label for="create-food-fat">Fett / 100g</label>
				    <input type="text" name="create-food-fat" id="create-food-fat" />
					<input type="submit" name="create-food" id="create-add" value="Spara livsmedel" />
				</fieldset>
			</form>
		</script>
		<script type="text/template" id="use-food-template">
			<form>
				<fieldset>
					<label for="use-food-name">Livsmedel</label>
				    <select name="use-food-name" id="use-food-name">
				    	<option value=""></option>
				    </select>
					<input type="submit" name="use-food-add" id="use-food-add" value="Använd livsmedel" />
					<input type="button" name="use-food-remove" id="use-food-remove" value="Ta bort" />
				</fieldset>
			</form>
		</script>
		<script type="text/template" id="calculator-template">
			<% if ( loggedOut ) { %>
				<p><a href="#login-link" id="login-link">Login</a> or <a href="#register-link" id="register-link">Register</a></p>
			<% } else { %>
				<p><a href="#logout-link" id="logout-link">Logout</a></p>
				<p>Calculator</p>
			<% } %>
		</script>
	</head>
	<body>
		<div id="logout-box"></div>
		<div id="app"></div>
	</body>
</html>
